.linkButton {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.btn {
  background-color: #222;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: all .5s;
  border-radius: 5px;
}

.btn:hover {
  color: #ffbb33;
}

.linkButton svg {
  margin-left: .7em;
}